.flashcard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    position: relative;
    border: 2px solid black;
    border-radius: 8px;
    height: fit-content;
    padding: 1rem;
    width: 16rem;
    margin-inline: auto;
    text-align: center;
}

.flashcard-title {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
    width: 100%;
}

.flashcard-content {
    padding: 1rem .5rem;
}

.flashcard p {
    padding: .5rem 0;
}

.flashcard strong {
    font-size: large;
}

.btn-flashcard-edit {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: medium;
    width: 5rem;
    padding: .25rem;
}

.flashcard-edit {
    background-color: transparent;
    height: 1rem;
    font-size: medium;
    padding: .5rem;
    text-align: center;
    font-family: inherit;
}

textarea {
    min-width: 14rem;
    max-width: 14rem;
    min-height: 10rem;
    max-height: 10rem;
text-align: left;
font-family: inherit;
}

.btn-flashcard-save {
    margin-top: 1rem;
    font-size: medium;
    width: 5rem;
    padding: .25rem;
}