@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --color-dark: #4242429a;
  --color-light: #f1f3f5;
  --color-darkest: #272b30e5;
  --color-light-gray: #dddddd;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #bed2f0;
  color: var(--color-darkest);
  letter-spacing: 1px;
}


.app {
}

/* Utility classes */

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}
